version: "3.8"
services:
  runner:
    image: docker.io/gitea/act_runner:latest
    environment:
      CONFIG_FILE: /config.yaml
      GITEA_INSTANCE_URL: "https://git.{{ general.domain }}"
      GITEA_RUNNER_REGISTRATION_TOKEN: "{{ gitea.runner_token }}"
      GITEA_RUNNER_NAME: "${HOSTNAME}"
    volumes:
      - /mnt/nfs/docker/gitea_worker/${HOSTNAME}/config.yaml:/config.yaml
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      mode: global
      labels:
        - "traefik.enable=false"
networks:
  proxy:
    external: true